ul{
list-style: none;
}

a{
text-decoration: none;
}

body {
font-family: "Roboto",sans-serif;
color: #434455;
background-color: #FFFFFF;
}

.header-logo-first {
color: #2e2f42;
}
/* -------header-----------*/
.header-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.header-menu-link{
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.header-menu-link:hover{
        color: #404bbf;
}

.header-menu-link:focus{
        color: #404bbf;
}

.header-menu-link-contacts:active{
        color: #4d5ae5;
}

.header-address{
        font-style: normal;
}

.header-address-link {
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.header-address-link:hover {
        color: #404bbf;
}

.header-address-link:focus {
        color: #404bbf;
}

/* -------------------------------*/
/* ------.main-section -----------*/

.main-section{
        background: #2e2f42;
}

.main-section-title{
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
}

.main-section-button{
        font-family: "Roboto", sans-serif;
        background: #4d5ae5;
        cursor: pointer;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
}

.main-section-button:hover{
        background-color: #404bbf;

}
.main-section-button:focus {
        background-color: #404bbf;
}

/* ------------------------------ */
/* ----------------fuatures---------- */


.fuatures-list-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.fuatures-text{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* -------------------------------- */
/* ------------------team-------------- */

.team{
background: #f4f4fd;
}

.team-title{
font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}

.team-menu-item{
        background: #fff;
}


.team-list-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.team-list-text{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

/* ---------------------------------- */
/* ----------------portfolio------------ */


.portfolio-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}

.portfolio-menu-item{
        background: #fff;
}


.portfolio-list-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.portfolio-list-text{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

/* ---------------------------------- */
/* -----------footer--------------------- */
.footer{
        background: #2e2f42;
}

.footer-link{
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.footer-link-logo{
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
}

.footer-text{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}